.carrosel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}


.swiper-slide img {
    width: 100%;


}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

.swiper-pagination {
    position: inherit !important;
    margin: 1em 0 0.2em 0;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1em;
    margin: 1em;

}

.card__descricao {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5em;
    gap: 1em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__ancora {
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 16px;
    text-decoration: none;
    padding: 1em 2.2em;
    font-weight: 700;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descricao__estrela {
    margin: 0 0 0.5em 0;
    width: 30%;
}

.descricao__titulo {
    font-size: 16px;
    font-weight: 700;
    color: var(--laranja);
    line-height: 19px;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
    line-height: 19px;

}

.descricao__texto {
    color: var(--azul);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.descricao__imagem {
    width: 50%;
    height: auto;
}

@media screen and (min-width: 1024px) {
    .carrosel__titulo{
        font-size: 26px;
        padding: 2em 0 1em 0;
        }
    

    .swiper-pagination{
        margin: 2.5em 0 3em 0;
    }

    .swiper{
        width: 70%;
    }

    .swiper-button-prev,
    .swiper-button-next{
        display: block !important;
        top: 60% !important;
    }

    .card{
        width: 50%;
        margin: 2em auto;
    }
    .card__ancora{
        padding: 1em 3em;
    }



}