.contato {
    background-color: var(--branco);
    padding: 1em;
}

.contato__titulo,
.contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.contato__input {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
}

.contato__input::placeholder {
    color: var(--azul);
    font-family: var(--fonte-principal);
    background: url(../img/Email.svg) no-repeat;
    padding-left: 2em;
    background-position: left center;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2em;

    }

    .contato__formulario {
        width: 35%;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__descricao {
        width: 30%;
    }

    .contato__input {
        width: 100%;
    }

}

@media screen and (min-width: 1728px) {
    .contato {
        padding: 3em 20vw;
    }
}