.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url(../img/Menu\ Aberto.svg);
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.container {
    display: flex;
    align-items: center;

}

.container__imagem {
    padding: 1em;

}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista__menu {
    display: block;
}

.lista__menu__titulo,
.lista__menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista__menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista__menu__link {
    text-decoration: none;

    background: var(--azul-degrade);
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}


.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 0.5em 1em;
    }

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--font-secundaria);
        font-size: 30px;

    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);

    }

    .opcoes__item {
        padding: 2em 1em;
        text-transform: uppercase;
        cursor: pointer;
    }

    .lista__menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista__menu__item:hover>.lista__menu__link {
        -webkit-text-fill-color: var(--branco);
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista__menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0em 2em;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container__texto {
        font-size: 20px;
        font-weight: 400;
        display: block;
        margin-right: 1.5em;
    }

    .opcoes {
        margin: 0 auto 0 1em;
    }
}