hr{
    margin: 0
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
    text-align: left;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo{
        font-size: 24px;
        padding: 1em;
    }
    .lista-rodape{
        display: block;
    }

    .lista-rodape__titulo{
        font-weight: 400;
        color: var(--cinza);
        font-family: var(--fonte-principal);
        padding: 1em;
        text-transform: uppercase;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        padding: 0.5em 1em;
    }

    .lista-rodape__link{
        text-decoration: none;
        color: var(--preto);
        padding: 0 0.5em;
    }
    
}

@media screen and (min-width: 1728px) {
    .rodape{
        padding: 2em 10vw;
    }

    .lista-rodape{
        border-left: 1px solid var(--cinza);
    }
}