@import url("../css/header.css");
@import url("../css/banner.css");
@import url("../css/carrosel.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #eb9b00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 167.37%);
    --azul: #002F52;
    --fonte-principal: "poppins";

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}