.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    padding: 1em 0;

}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.topicos__lista-tablet {
    display: none;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__item {
        margin: 2em 1em;
    }

    .topicos__link {
        font-size: 24px;
    }

    .topicos__lista {
        display: none;
    }

    .topicos__lista-tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.5em 0;
    }

}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 1em 20vw;
    }

}